@media (min-width: 769px){  
#body-dash{background:#E6EDF6;
			width: 100%;
			padding-top:1%;
		}
.container-dash{display:flex;
				align-content: space-around;
				}
.grid-item{background-color: rgba(255, 255, 255, 0.8);
  			
			  border-radius: 20px;
  		}

.contentdash1{width: 50%;
			background:#E6EDF6;
  			margin-left: 19%;
  			text-align: center;
}
.contentdash2{width: 30%;
			border-radius: 20px;
			margin:0 2% 0 0%;
		}
									
									#search-bar{background-color: #E6EDF6;
												border-radius:20px;
												width: 95%;
												margin-left: 3%;}
									#search-icon{width:1.5em;
												margin:2% 0 0 3%;}
									#search-in-chats{	padding: 2%;
														background:transparent;
														border:none;
														width: 80%;
													}
									.chats{
										width:25vw;
										margin:2% 0% 2% 3%;
									}
									.mesagges{	font-family: Montserrat;
												font-style: normal;
												font-weight: bold;
												font-size: 1.3em;
												color: #000000;
												margin-left:8%;
												padding-top:2%;
											}

									
#dashnews {
  width:95%;
  height:30%;
  margin-right: 1%;
  border-radius: 20px;
}
				.dash-news{
					margin-left: 3%;
					padding-top: 1%;
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.5rem;
					color: #000000;
				}
				.dash-news-pics{
					border-radius: 20px;
					width: 100%;
					height: 100%;
				}
#dashboardContentFor{
	margin-top: 10%;
}
#schedule{
		  width:95%;
		  height:25%;
		  margin:10% 1% 0 0;
		  border-radius: 20px;	
}		
#fas-task{
	height: 7vw;
	box-shadow: 3px -3px 5px rgba(0,0,0,0.8);
    padding: 5px;
    border: 1px dashed grey;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
color: #000000;
}
#fas-new-task{
	background-color: #5784BA;
	color:white;
	border-radius: 20px;
	width: 20%;
	align-self: center;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	padding: 3px 15px;
	margin: 0% 0% 0% 4%;
	text-decoration: none;
	}
	}				
										































@media (min-width: 426px) and (max-width: 768px){  
#body-dash{background:#E6EDF6;
			width: 100%;}
.container-dash{display:flex;
				align-content: space-around;
				margin:0% 0% 0 2%;
				padding: 12% 2% 0% 0%;}
.grid-item{background-color: rgba(255, 255, 255, 0.8);
  			text-align: center;
			  border-radius: 20px;
  			}
.contentdash1{width: 70%;
			background:#E6EDF6;
			margin-right: 1%;
}
.contentdash2{width: 30%;
			border-radius: 20px;
			}
									#search-bar{background-color: #E6EDF6;
												border-radius:20px;
												width: 95%;
												margin-left: 3%;}
									#search-icon{width:1.5em;
												margin:2% 0 0 3%;}
									#search-in-chats{	padding: 2%;
														background:transparent;
														border:none;
														width: 80%;
													}
									.chats{
										width:75%;
										margin:2% 0 0 0;
									}
									.mesagges{	font-family: Montserrat;
												font-style: normal;
												font-weight: bold;
												font-size: 1.3em;
												color: #000000;
												margin-left:5%;
												padding-top:2%;
											}

									
#dashnews {
  width:100%;
  height:25%;
  margin-right: 1%;
  border-radius: 20px;
}
				.dash-news{
					margin-left: 1%;
					padding-top: 0%;
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.5rem;
					color: #000000;
				}
				.dash-news-pics{
					border-radius: 20px;
					width: 100%;
					height: 100%;
				}
#schedule{
		  width:95%;
		  height:25%;
		  margin:10% 1% 0 0;
		  border-radius: 20px;	
}

#dashboardContentFor{
	margin-top: 10%;
	background-color: white;
	color:black;
	padding:2%;
	border-radius: 20px;
}
								
#fas-task{
	height: 7vw;
	box-shadow: 3px -3px 5px rgba(0,0,0,0.8);
    padding: 5px;
    border: 1px dashed grey;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 22px;
color: #000000;
}
#fas-new-task{
	background-color: #5784BA;
	color:white;
	border-radius: 20px;
	width: 20%;
	text-align: center;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	padding: 0 15px;
	margin-left: 40%;
	}
	}		



























@media (max-width:425px){  
#body-dash{background:#E6EDF6;}
.container-dash{
				width: 100%;
				align-content: space-around;
				padding:15% 0 0 2.5%;}
.grid-item{background-color: rgba(255, 255, 255, 0.8);
  			text-align: center;
  		}
.contentdash1{width: 100%;
			background:#E6EDF6;
}
.contentdash2{display: none}		
#dashnews {
  margin-right: 3%;
  border-radius: 20px;
}
				.dash-news{
					margin-left: 3%;
					padding-top: 1%;
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.5rem;
					color: #000000;
				}
				.dash-news-pics{
					width: 100%;
					height: 100%;
				}
#schedule{
		  width:95%;
		  height:25%;
		  margin:2% 1% 0 0;
		  border-radius: 20px;	
}
#dashboardContentFor{
	margin: 10% 0 10% 0;
	background-color: white;
	color:black;
	padding:2%;
	border-radius: 20px;

}
								
#fas-task{
	height: 7vw;
	box-shadow: 3px -3px 5px rgba(0,0,0,0.8);
    padding: 5px;
    border: 1px dashed grey;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 22px;
color: #000000;
}
#fas-new-task{
	background-color: #5784BA;
	color:white;
	border-radius: 20px;
	width: 20%;
	text-align: center;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	padding: 0 15px;
	margin-left: 40%;
	}
	}					
