@media (min-width: 769px){  
#body-regist{	background-color: #E6EDF6;
}
#title-regist{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 2.5em;
		color: #010620;
		margin: 2% 0 5% 0;
		text-align: center;
}
#label-input {		width: 25vw;
					height: 3vw;
					margin-left: 37%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					margin-bottom:0.5% ;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1vw;
					width:8%;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 37%;
}
.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.4vw;
			color: #FFFFFF;
			margin:2% 0 0 37%;
			width: 25vw;
			height: 3vw;
			border:none;
			border-radius: 5px;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	margin:1% 0 2% 37%;
	width: 25vw;
	height: 3vw;
	border:none;
	border-radius: 5px;}
			
.google{margin-left: -60%;
	margin-top: 2%;
		width:9%;
}
#registwith{font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 0.9em;
	color: #010620;
	text-align: center;
	margin-top: -13%}

#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8vw;
					color: #ADA9BB;
					margin:3% 0 0 45%;
}
.linktologin{color: blue;}
}








@media (max-width:768px) and (min-width:426px){
*{margin: 0;}
#body-regist{	background-color: #E6EDF6;
				margin-top:0%;
				width: 100%;
				height: 100%;}
#title-regist{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		margin:0% 0 5% 0%;
		padding-top: 5%;
		text-align: center; 
}
#label-input {		width: 25vw;
					height: 3vw;
					margin-left: 37%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					margin-bottom:0.5% ;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1vw;
					width:8%;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 37%;
}
.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1vw;
			color: #FFFFFF;
			margin:4% 0 0 37%;
			width: 25vw;
			height: 3vw;
			border:none;
			border-radius: 5px;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	margin:1% 0 2% 37%;
	width: 25vw;
	height: 3vw;
	border:none;
	border-radius: 5px;}
			
.google{margin-left: -60%;
	margin-top: 2%;
		width:9%;
}
#registwith{font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1vw;
	color: #010620;
	text-align: center;
margin-top: -13%}
#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8vw;
					color: #ADA9BB;
					margin-left: 45%;
					padding-bottom:28%;
}
.linktologin{color: blue;}
}











@media (max-width:425px){
*{margin: 0;}
#body-regist{	background-color: #E6EDF6;
				margin-top:0%;
				width: 100%;
				height: 100%;}
#title-regist{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		margin:0% 0 5% 0%;
		padding-top: 10%;
		text-align: center; 
}
#label-input {		width: 40vw;
					height: 5vw;
					margin-left: 30%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					margin-bottom:2%;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1vw;
					width:8%;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 30%;
}
.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 2vw;
			color: #FFFFFF;
			margin:5% 0 0 30%;
			width: 40vw;
			height: 5vw;
			border:none;
			border-radius: 5px;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	margin:2% 0 2% 30%;
	width: 40vw;
	height: 5vw;
	border:none;
	border-radius: 5px;}
			
.google{margin-left: -60%;
	margin-top: 2%;
		width:9%;
}
#registwith{font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 2vw;
	color: #010620;
	text-align: center;
margin-top: -13%}
#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8vw;
					color: #ADA9BB;
					margin:25% 0 0% 45%;
					padding-bottom:20%;
					bottom: 0;
}
.linktologin{color: blue;}
}


