@media (min-width: 600px){  	
#body-login{background-color:  #E6EDF6;
		width:100%;}
 .container-login{	
 					display:flex;
					align-content: center; 
					background-color: #E6EDF6;
					justify-content: space-between;}

	.one{	width: 20%;}
	.two{	height: 100%;
			width:60%;}
	.three{	width: 20%;float:right;}
#title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3vw;
		color: #010620;
		text-align: center; 
		margin:5% 0 10% 0%;
}
#label{				
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 0.5em;
					width:50px;
					color: #ADA9BB;
					margin:3% 0 0 30%;
					background-color: #E5E5E5;
}
.input {	
					width :50%;
					min-height: 4vw;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					align-items: center;
					margin-left: 30%;
}
#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 0.8em;
		color: #000000;
		text-decoration:none;
		margin:2% 0 0% 65%;
}
#btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.4vw;
			color: #FFFFFF;
			margin:7% 0 0 30%;
			width: 50%;
			height: 4vw;
			border:none;
			border-radius: 6px;
}
#btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 0.9em;
	color: #010620;
	margin:1% 0 0 30%;
	width:50%;
	height: 4vw;
	border:none;
	border-radius: 6px;
}
			
.google{margin:-2% 0 4% -42%;
		width:6%;
}
#text-btn-w-google{margin-top: -12%;}

#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 1vw;
					color: #ADA9BB;
					padding-bottom: 40%;
					margin:15% 0 0% 45%;
}
.regist-link{color:#5784BA;}
}




/*@media (min-width:769px) and (max-width:426px){   	
body{background-color:  #E6EDF6;}
 .container-login{	display:flex;
					width:100%;
					height:100%;
					align-content: center; 
					background-color: #E6EDF6;
					justify-content: space-between;}
	.one{	width: 20vw;}
	.two{	height: 100%;
			align-content: center;
			padding-bottom:50%;}
	.three{	width: 20vw;}
#title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3vw;
		color: #010620;
		text-align: center; 
		margin:10% 0 10% 0%;
}
#label{				
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 0.5em;
					width:50px;
					color: #ADA9BB;
					margin:3% 0 0 30%;
					background-color: #E5E5E5;
}
#input {	
					width :43%;
					min-height: 3.5vw;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					align-items: center;
					margin-left: 30%;
}
#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 0.8em;
		color: #000000;
		text-decoration:none;
		margin:2% 0 15% 58%;
}
.btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.4vw;
			color: #FFFFFF;
			margin:7% 0 0 30%;
			width: 25vw;
			height: 3.3vw;
			border:none;
			border-radius: 6px;
}
.btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 0.9em;
	color: #010620;
	margin:1% 0 0 30%;
	width:25vw;
	height: 3.3vw;
	border:none;
	border-radius: 6px;
}
			
.google{margin:-2% 0 4% -42%;
		width:6%;
}
#text-btn-w-google{margin-top: -12%;}

#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8em;
					color: #ADA9BB;
					padding-bottom: 40%;
					margin:15% 0 0% 45%;
}
.regist-link{color:#5784BA;}
}
*/




@media (max-width:600px){  
*{margin:0;}
#body-login{background-color:  #E6EDF6; }
.container-login {	
					align-content: center; 
					display: inline-flex;
				}
	.one{display:none;}
	.two{	width:100%;
			align-content: center;
			align-items: center;
			}
	.three{display:none;}
#title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		text-align: center;
		margin:15% 0 25% 65%;
}
#label{				
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 0.8em;
					width:25%;
					color: #ADA9BB;
					margin:3% 0 0% 45%;
					background-color: #E5E5E5;
}
.input {	
					width: 80%;
					height: 7vw;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					margin:0 0 0 45%;
}
#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 0.8em;
		color: #000000;
		width:30%;
		text-align: right;
		text-decoration:none;
		margin:2% 0 10% 95%;
}
#btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.5vw;
			color: #FFFFFF;
			margin:7% 0 0 45%;
			width: 80%;
			height: 6vw;
			border:none;
			border-radius: 6px;
			align-items: center;
}
#btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5vw;
	color: #010620;
	margin:3% 0 0 45%;
	width:80%;
	height: 6vw;
	border:none;
	border-radius: 6px;
}
			
.google{margin:-2% 0 4% -42%;
		width:6%;
}
#text-btn-w-google{margin-top: -12%;}

#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8em;
					color: #ADA9BB;
					padding-bottom: 70%;
					margin:20% 0 0% 75%;
}
.regist-link{color:#5784BA;}
}
