@media (min-width:769px){


.body-createclass {background-color:  #E6EDF6;}	

#title-box{margin-left: 20%;}
									#title-act{
										font-family: Montserrat;
									font-style: normal;
									font-weight: bold;
									font-size: 2vw;
									color: #000000;
									margin-top: 1%;
									}
									#subtitle{
										font-family: Montserrat;
									font-style: normal;
									font-weight: bold;
									font-size: 1.8vw;
									color: #000000;
									}
.d-flex{
	width:70%;
	height: 100%;
	background-color: #E6EDF6;
	margin:1% 5% 0 25%; 
}

.table-title{
	width:100%;
	justify-content: center;
	padding-left: -5%;
	background-color:#E6EDF6;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2vw;
	color: #000000;
	border:none;
}
.table-content{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1vw;
	color: #000000;
	border:none;
	background-color: white;
}

.form-check-input{width:1.3vw;}
#nameclass{width:20%;}

#cateory{width:10%;
		margin-left: 5%;}

#description{	width:30%;
				margin-left: 4%;
				text-align: left}

#nameclass-t1{width:15%;margin-left: 0%;}

#category-t1{width:5%;margin-left: -2%;}

#description-t1{	width:20%;
				margin-left: 5%;
				text-align: left}
#student-icon{width: 2.2vw;}
.list{
	float:right;
	margin-top: 10%;
	margin-right: 10%;
}



.create-container{
	width:75%;
	height:90vh;
	border-radius: 10px;
	background-color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 1vw;
	color: #000000;
	margin:2% 5% 0 20%;
}

.form-create-new-class{height: 30%;
						padding: 3% 0 2% 5%;
						border: 20px solid white;
						border-radius:10px;
						}

#td-left{width:45%;}

.newclass-name{border:none;}

#category-selector{border:none;
					background-color: #5784BA;
					color:white;
					font-weight: 500;
					height: 2vw;}

.date{width:35%;}

.radio{width: 50%;
		margin-left: 15%;
		margin-top: -3%;}

.description-field{width:72vw;
		height: 20vw;
		border:none;
		text-align: top;
		border-radius:10px;
		background-color:#EBEBEB;
		margin:0 0 3% 2%;
}
#btn-create{background-color:#57BA61;
			color:white;
			font-family: Montserrat;
			font-size: 1.3em;
			font-style: normal;
			font-weight: 600;
			letter-spacing: 0em;
			text-align: center;
			width:25vw;
			border-radius: 40px;
			margin: 5% 0 0% 65%;

}
}





@media (min-width:426px){


.body-createclass {background-color:  #E6EDF6;}	

#title-box{margin-left: 20%;}
									#title-act{
										font-family: Montserrat;
									font-style: normal;
									font-weight: bold;
									font-size: 2vw;
									color: #000000;
									margin-top: 1%;
									}
									#subtitle{
										font-family: Montserrat;
									font-style: normal;
									font-weight: bold;
									font-size: 1.8vw;
									color: #000000;
									}
.d-flex{
	width:70%;
	height: 100%;
	background-color: #E6EDF6;
	margin:1% 5% 0 25%; 
}

.table-title{
	width:100%;
	justify-content: center;
	padding-left: -5%;
	background-color:#E6EDF6;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2vw;
	color: #000000;
	border:none;
}
.table-content{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1vw;
	color: #000000;
	border:none;
	background-color: white;
}

.form-check-input{width:1.3vw;}
#nameclass{width:20%;}

#cateory{width:10%;
		margin-left: 5%;}

#description{	width:30%;
				margin-left: 4%;
				text-align: left}

#nameclass-t1{width:15%;margin-left: 0%;}

#category-t1{width:5%;margin-left: -2%;}

#description-t1{	width:20%;
				margin-left: 5%;
				text-align: left}
#student-icon{width: 2.2vw;}
.list{
	float:right;
	margin-top: 10%;
	margin-right: 10%;
}



.create-container{
	width:75%;
	height:90vh;
	border-radius: 10px;
	background-color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 1vw;
	color: #000000;
	margin:2% 5% 0 20%;
}

.form-create-new-class{height: 30%;
						padding: 3% 0 2% 5%;
						border: 20px solid white;
						border-radius:10px;
						}

#td-left{width:45%;}

.newclass-name{border:none;}

#category-selector{border:none;
					background-color: #5784BA;
					color:white;
					font-weight: 500;
					height: 2vw;}

.date{width:35%;}

.radio{width: 50%;
		margin-left: 15%;
		margin-top: -3%;}

.description-field{width:72vw;
		height: 20vw;
		border:none;
		text-align: top;
		border-radius:10px;
		background-color:#EBEBEB;
		margin:0 0 3% 2%;
}
#btn-create{background-color:#57BA61;
			color:white;
			font-family: Montserrat;
			font-size: 1.3em;
			font-style: normal;
			font-weight: 600;
			letter-spacing: 0em;
			text-align: center;
			width:25vw;
			border-radius: 40px;
			margin: 5% 0 0% 65%;

}
}





