@media (min-width:769px){  
body 	{background-color: #E5E5E5;}

article{
	width:100%;
}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 2vw;
														margin-left: 21%;
														color: #000000;
											}
								#article-bg{			width:75%;
														height: 50%;
														float:right;
														margin-left: 20%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
											}
								#bg-layer2	{			width:75%;
														height: 52.2%;
														float:right;
														margin-left: 20%;
														margin-top: -22.5%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%);
														border-radius: 20px 20px 0px 0px;
											}


								.icon-comp2{				width:15vw;
														margin-top: 15%;
														margin-left: 10%;
											}
								
								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2.5vw;
														color: #000000;
														margin-top: -20%;
														margin-left: 35%;
											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 1.2vw;
														color: #000000;
														margin-left: 35%;
											}
								.yourscore{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 800;
														font-size: 3em;
														color: green;
														margin-left: 85%;
														margin-top:-5%;
											}

.article2{		background-color: white;
				width:75%;
				margin-right: 3%;	
				margin-top: -10%;
				float:right;
				padding: 2%;
		}

								.link{text-decoration: underline;
										color: blue;}
								.line{width:95%;
										padding-bottom:2%;}
												.countainer{ background-color: #E5E5E5;}
														.table 	{	background-color: white;
																	width:100%;
																	padding-top:1%;
																	padding-bottom:2%;
																	margin-top: -1.5%

																}
														
														#checkbox{
															padding-right: 5%;
															}

														#task{
															
															width:15vw;
															padding-right: 25%;
																margin-right:10%;}

														#time{
															margin-left:  20%;}

														#status{ float:right;
																}
														#status-un{ float:right;
																	background-color: pink;
																	color:red;
																	border-radius: 20px;
																	width:6.2vw;
																	text-align:center;
																}

p{
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.7vw;
					letter-spacing: 0.05em;
					margin-left: 5%;
}
.score-green{color: #51E72B;}
.score-yellow{color: #CCE72B;}
.score-tosca{color: #2BE781;}
.score-blue{color: #2BE7D0;}
.score-red{color: #E6422B;}
 }

/*
@media (max-width:768px) and (min-width: 426px){  
aside{display:none;}
body{background-color: #E5E5E5;}
.link{text-decoration: none;color:black;}
	article{width:100%;}
	header .container-2{ width: 100%;
	background-color: #5784BA;

	 }
.header1{background-color: white;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.header2{background-:none;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 2.4vw;
														margin-left: 3%;
														margin-top: 3%;
														color: #000000;
											}
								#article-bg{			width:100vw;
														height: 65%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
														margin-left: 60px;

											}
								#bg-layer2	{			width:100vw;
														height: 65%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%); 
														border-radius: 20px 20px 0px 0px;
														margin-top: -52%;
														margin-left: 60px;
											}
								.icon-comp2{			width:25vw;
														margin-top: 29%;
														margin-left: 0%;
											}
								.icon-comp{display:none;}
										


								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 800;
														font-size: 3vw;
														color: #000000;
														margin-top: -20%;
														margin-left: 40%;

											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #000000;
														margin-left: 30%;
											}
								.btn{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #FEFEFE;
														background: #57BA61;
														border-radius: 23.4px;
														margin-left: 85%;
														margin-top:-6%;
											}
.article2{		background-color: white;
				width:90%;
				height: auto;
				margin-right: 0%;	
				margin-top: -5%;
				float:right;
				padding-top: 10%;
				padding-right: 0%;
		}
								.line{width:95%;
										padding-bottom:2%;}
												.countainer{ background-color: #E5E5E5;}
														.table 	{	background-color: white;
																	width:100%;
																	padding-top:1%;
																	padding-bottom:2%;
																	margin-top: -1.5%

																}
														
														#checkbox{
															padding-right: 5%;
															}

														#task{
															
															width:15vw;
															padding-right: 25%;
																margin-right:10%;}

														#time{
															margin-left:  20%;}

														#status{ float:right;
																}
														#status-un{ float:right;
																	background-color: pink;
																	color:red;
																	border-radius: 20px;
																	width:6.2vw;
																	text-align:center;
																}

p{
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 3vw;
					letter-spacing: 0.05em;
					margin-left: 5%;
}

.score-green{color: #51E72B;}
.score-yellow{color: #CCE72B;}
.score-tosca{color: #2BE781;}
.score-blue{color: #2BE7D0;}
.score-red{color: #E6422B;}}
 

@media (max-width: 425px){  
aside{display:none;}
body{background-color: #E5E5E5;}
article{width:100%;}
header .container-2{ width: 100%;
					background-color: #5784BA;}
.header1{background-color: white;
				color:black;
				font-size: 3vw;
				font-family: Montserrat;
				font-style: normal;
				font-weight: 500;
				text-decoration: none;
				border-radius: 5px;
				margin-right: 2%;}
.header2{background:none;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 3.5vw;
														margin-left: 3%;
														margin-top: 3%;
														color: #000000;
											}
								#article-bg{			width:100vw;
														height: 45%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
														margin-left: 20px;

											}
								#bg-layer2	{			width:100vw;
														height: 45%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%);
														 
														border-radius: 20px 20px 0px 0px;
														margin-top: -62%;
														margin-left: 20px;
											}
								.icon-comp2{			width:25vw;
														margin-top: 40%;
														margin-left: 5%;
											}
								.icon-comp{display:none;}
										


								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 800;
														font-size: 3vw;
														color: #000000;
														margin-top: -12%;
														margin-left: 30%;

											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2.5vw;
														color: #000000;
														margin-left: 30%;
											}
								.btn{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #FEFEFE;
														background: #57BA61;
														border-radius: 23.4px;
														margin-left: 80%;
														margin-top:0%;
											}
.article2{		background-color: white;
				width:100%;
				height: auto;
				margin-right: 3%;	
				margin-top: -2%;
				float:right;
				padding: 2%;
		}
								.line{width:95%;
										padding-bottom:2%;}
												.countainer{ background-color: #E5E5E5;}
														.table 	{	background-color: white;
																	width:100%;
																	padding-top:1%;
																	padding-bottom:2%;
																	margin-top: -1.5%

																}
														
														#checkbox{
															padding-right: 5%;
															}

														#task{
															width:8vw;
															margin-right:5%;
															font-size: 0.8em}

														#time{
															margin-left:  5%;
															font-size: 0.8em}


														#status{ float:right;
																}
														#status-un{ float:right;
																	background-color: pink;
																	color:red;
																	border-radius: 20px;
																	
																	text-align:center;
																	margin-right: 5%;
																}

p{
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 3vw;
					margin-left: 5%;
}
.score-green{color: #51E72B;}
.score-yellow{color: #CCE72B;}
.score-tosca{color: #2BE781;}
.score-blue{color: #2BE7D0;}
.score-red{color: #E6422B;}
						.link{text-decoration: none;
									color:black;}
							}

*/
								



