.coverCont{padding:2% 3% 2% 3%;}
.title-content{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 600;
														font-size: 1.8em;
														color: #000000;
								}
								.content{
														font-family: Roboto;
														font-style: normal;
														font-weight: 300;
														font-size: 1.3em;
														color: #000000;

								}