@media (min-width: 769px){  
#body-dash{background:#E6EDF6;}
.container-dash{display:flex;
				width: 100%;
				align-content: space-around;
				margin:1% 0 0 0%;}
.grid-item{background-color: rgba(255, 255, 255, 0.8);
  			//text-align: center;
  		}
.aside{width:20%;
		margin-right: 2%;}

.aside{
	float:left;
	width:15%;
	position: fixed;
	}

#asidedash{background:#5784BA;
		border-radius: 20px;
		padding:10% 0 10% 0;
		margin-top: 0%;	
				}
											#notif{				width:2.3vw;
																margin-top: 8%;
																margin-left: 75%;		
											}
											#mini-profile{		width: 5vw;																margin-left: 8%;
																margin-top: 10%;
											}
											#side-name-profile{		font-family: Roboto;
																font-style: normal;
																font-weight: 500;
																font-size: 1em;
																color: #ffffff;
																margin-top: 9%;
																margin-left:6%;
											}

											#SideActstatus{  			font-family: Roboto;
																font-style: normal;
																font-weight: normal;
																font-size: 1em;
																color: #ffffff;
																margin-left: 2%;
																margin-bottom: 30%;
											}
											#SideActIcon{
												width:2vw;
												margin: 15% 0 0 7%;
											}
											.menu{				font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																font-size: 1.8vw;
																color:#ffffff;				
											}
											#SideAct-profilemenu-dash{		font-family: Montserrat;
																			font-style: normal;
																			font-weight: 600;
																			font-size: 1em;
																			color: #FFFFFF;	
																			margin-top: 25%;
																			margin-bottom: 0%;
																			text-decoration: none;				
																	}
											#SideAct-profileSelect{		font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																font-size: 1em;
																color: black;	
																margin-top: 10%;
																text-decoration: none;				
											}
										#SideAct-profilemenu2{	font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																font-size: 1em;
																color: red;	
																margin-top: -5%;
																text-decoration: none;				
											}
#asidedash2{	background: #FFFFFF;
					border-radius: 20px 20px 0 0;
					padding: 0% 0 20% 0;
					margin-top: -15%;
					}
											#profile-icon-select{	font-family: Montserrat;
																	font-style: normal;
																	font-weight: 600;
																	font-size: 1.8vw;
																	color: black;
																	text-decoration: none;
																	padding:5% 0 0 0; }

											#blank{height: 10%;
													margin-top:100%; }
.contentdash1{width: 60%;
			background:#E6EDF6;
  			margin-left: 17.5%;
}
.contentdash2{width: 25%;
			border-radius: 20px;}
									#grid3{		
											width: 100%;
											border-radius: 20px;
										}
									#search-bar{background-color: #E6EDF6;
												border-radius:20px;
												width: 95%;
												margin-left: 3%;}
									#search-icon{width:1.5em;
												margin:2% 0 0 3%;}
									#search-in-chats{	padding: 2%;
														background:transparent;
														border:none;
														width: 80%;
													}
									.chats{
										width:20vw;
										margin-left:8%;
									}
									.mesagges{	font-family: Montserrat;
												font-style: normal;
												font-weight: bold;
												font-size: 1.3em;
												color: #000000;
												margin-left:5%;
												padding-top:2%;
											}

									
#dashnews {
  width:95%;
  height:25%;
  margin-right: 1%;
  border-radius: 20px;
}
				.dash-news{
					margin-left: 3%;
					padding-top: 1%;
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.5rem;
					color: #000000;
				}
				.dash-news-pics{
					border-radius: 20px;
					width: 100%;
					height: 100%;
				}
#schedule{
		  width:95%;
		  height:25%;
		  margin:10% 1% 0 0;
		  border-radius: 20px;	
}
								.table-schedule{
									width: 100%;
									border-radius: 20px;
								}
								#date{
										grid-column-end: span 7;
										font-family: Montserrat;
										font-style: normal;
										font-weight: bold;
										font-size: 1.8vw;
										line-height: 29px;
										color: #000000;
										text-align: left;
										padding-left:4%;
										padding-top:4%;
										padding-bottom: 2%;
									}
									.calendar{
										width:2vw;
										float:right;
										margin-right:10%;
									}
									#date-day{font-size: 0.8em;}
									#select{
												background-color: #5784BA;
												color:white;
												border-radius: 20px;
												width:30%;
											}
									#img 			{width: 100%;}
									#time			{grid-column-end: span 7;}
									.h5-dash		{color:blue;
													text-align: center}
									.link-foryou	{text-align: center;
													text-decoration: none;
													color: #ADA9BB;}
									#task1-pic		{
														width:100%;
														height: 100%;
														}
#fas-task{
	height: 7vw;
	box-shadow: 3px -3px 5px rgba(0,0,0,0.8);
    padding: 5px;
    border: 1px dashed grey;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 22px;
color: #000000;
}
#fas-new-task{
	background-color: #5784BA;
	color:white;
	border-radius: 20px;
	width: 20%;
	text-align: center;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	padding: 0 15px;
	margin-left: 40%;
	}
	}					
										






























@media(max-width:425px){  
#body-dash{background:#E6EDF6;}
.container-dash{display:flex;
				width: 100%;
				align-content: space-around;
				margin:12% 0 0 0%;}
.grid-item{background-color: rgba(255, 255, 255, 0.8);
  			//text-align: center;
  		}
.aside{
	display:none;
	}


.contentdash1{width: 70%;
			background:#E6EDF6;
  			margin-left: 0%;
}
.contentdash2{width: 30%;
			border-radius: 20px;
			float:right;
			margin-left:68%;
			position: fixed;}
									#grid3{		
											width: 100%;
											border-radius: 20px;
										}
									#search-bar{background-color: #E6EDF6;
												border-radius:20px;
												width: 95%;
												margin-left: 3%;}
									#search-icon{width:1.5em;
												margin:2% 0 0 3%;}
									#search-in-chats{	padding: 2%;
														background:transparent;
														border:none;
														width: 80%;
													}
									.chats{
										width:20vw;
										margin-left:8%;
									}
									.mesagges{	font-family: Montserrat;
												font-style: normal;
												font-weight: bold;
												font-size: 1.3em;
												color: #000000;
												margin-left:5%;
												padding-top:2%;
											}

									
#dashnews {
  width:95%;
  height:25%;
  margin-right: 1%;
  border-radius: 20px;
}
				.dash-news{
					margin-left: 3%;
					padding-top: 1%;
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 1.5rem;
					color: #000000;
				}
				.dash-news-pics{
					border-radius: 20px;
					width: 100%;
					height: 100%;
				}
#schedule{
		  width:95%;
		  height:25%;
		  margin:10% 1% 0 0;
		  border-radius: 20px;	
}
								.table-schedule{
									width: 100%;
									border-radius: 20px;
								}
								#date{
										grid-column-end: span 7;
										font-family: Montserrat;
										font-style: normal;
										font-weight: bold;
										font-size: 1.8vw;
										line-height: 29px;
										color: #000000;
										text-align: left;
										padding-left:4%;
										padding-top:4%;
										padding-bottom: 2%;
									}
									.calendar{
										width:2vw;
										float:right;
										margin-right:10%;
									}
									#date-day{font-size: 1.5em;
												font-weight: 500;}
									#select{
												background-color: #5784BA;
												color:white;
												border-radius: 20px;
												width:30%;
											}
									#img 			{width: 80%;
														margin-left: 10%;}
									#time			{grid-column-end: span 7;}
									.h5-dash		{color:blue;
													text-align: center}
									.link-foryou	{text-align: center;
													text-decoration: none;
													color: #ADA9BB;}
									#task1-pic		{
													width:80%;
													margin-left: 10%;
														}
#fas-task{
	height: 7vw;
	box-shadow: 3px -3px 5px rgba(0,0,0,0.8);
    padding: 5px;
    border: 1px dashed grey;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 22px;
color: #000000;
}
#fas-new-task{
	background-color: #5784BA;
	color:white;
	border-radius: 20px;
	width: 20%;
	text-align: center;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	padding: 0 15px;
	margin-left: 40%;
	}
	}					
