@media(min-width:769px){
.headerDash{display: none;}
}


@media (max-width:768px) and (min-width:426px){  
.headerDash{
  height: 10%;
  min-height: 30px;
  width: 100%;
  position: fixed;
  top:0;
  background-color: #5784BA;
  padding-bottom: 1%;
}
.title {
color:black;
margin-left:3%;
margin-top:0%;
text-align: center;
height:5vh;
width: 140px;
font-size: 20px;
text-align: justify; 
background-color: #E5E5E5;
}
#line-menu{
  margin-top: 1.5%;
}

#header-selected{
  background-color: white;
  width:7%;
  font-size: 1.5vw;
  font-family: roboto;
  text-decoration: none;
  border-radius: 10px;
  margin: 7% 5% 2% 1%;
  color: black;
}
#header-menu{
  color: white;
  width:10%;
  font-size: 1.5em;
  font-family: roboto;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 5%;
}
#header-icon-dash{
  min-width: 40px;
  width:6%;
  margin: -6% 0% 5% 90%;
}}











@media (max-width: 425px){  
.headerDash{
  height: 10%;
  width: 100%;
  position: fixed;
  padding-bottom: 1%;
  background-color: #5784BA;
}
.title {
color:black;
margin-left:3%;
margin-top:0%;
text-align: center;
height:2%;
width: 20vw;
font-size: 1em;
text-align: justify; 
background-color: #E5E5E5;
}
#line-menu{
  margin-top: 1.5%;
}

#header-selected{
  background-color: white;
  width:7%;
  font-size: 0.5em;
  font-family: roboto;
  text-decoration: none;
  border-radius: 10px;
  margin: 0% 5% 0% 1%;
  color: black;
}
#header-menu{
  color: white;
  width:7%;
  font-size: 0.5em;
  font-family: roboto;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 5%;
}
#header-icon-dash{
  width:4em;
  margin: -8% 2% 0 80%;
  padding: 1%;
}} 