@media (min-width: 426px){  
*{margin:0;}
body{	background-color: #E5E5E5;	}
#body-login{width:100%;
			align-content: center;}

.title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		margin-bottom:8%;
		margin-left:40%;
		}

#label{		margin-left: 30%;
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 0.7em;
					color: #ADA9BB;
					background-color: #E5E5E5;
 				}	

#input {	
					width: 30vw;
					height: 6vh;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					margin-left: 30%;
				}

#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 0.8em;
		color: #000000;
		margin:0 0 5% 52%;
		text-decoration:none;
	}

.btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.4vw;
			color: #FFFFFF;
			margin:7% 0 0 30%;
			width: 30vw;
			height: 6vh;
			border:none;
			border-radius: 6px;

			}

.btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1vw;
	color: #010620;
	margin-left: 30%;
	margin-top: 2%;
	width:30vw;
	height: 6vh;
	border:none;
	border-radius: 6px;
}
			
.google{margin:0 0 3% -42%;
		width:6%;
}
#text-btn-w-google{margin-top: -10%;}

#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8em;
					color: #ADA9BB;
					margin-left: 42%;
					margin-top: 5%;
	}
.regist-link{color:#5784BA;}
}
/*
@media (min-width: 768px) and (max-width: 426px){  
*{margin:0;}
body{	background-color: #E5E5E5;	}
#body-login{width:100%;
			align-content: center;}

.title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		margin-bottom:10%;
		margin-left:40%;
		}

#label{		margin-left: 20%;
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1em;
					color: #ADA9BB;
					background-color: #E5E5E5;
 				}	

#input {	
					width: 55%;
					height: 4vh;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					margin-left: 20%;
				}

#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 1em;
		color: #000000;
		margin:0 0 0 58%;
		text-decoration:none;
	}

.btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.9vw;
			color: #FFFFFF;
			margin: 10% 0 0 20%;
			width: 55%;
			height: 4vh;
			border:none;
			border-radius: 6px;

			}

.btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1.9vw;
	color: #010620;
	margin-left: 20%;
	margin-top: 2%;
	width: 55%;
	height: 4vh;
	border:none;
	border-radius: 6px;
	text-align: top;
}
			
.google{margin:0 0 2% -38%;
		width:6%;
}
#text-btn-w-google{margin-top: -10%;}
#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 1.8vw;
					color: #ADA9BB;
					margin-left: 40%;
					margin-top: 15%;
	}
.regist-link{color:#5784BA;}
}
*/

@media(max-width: 425px){  
*{margin:0;}
body{	background-color: #E5E5E5;	}
#body-login{width:100%;
			align-content: center;}

.title-login{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 3em;
		color: #010620;
		margin-bottom:10%;
		margin-left:40%;
		}

#label{		margin-left: 20%;
					font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1em;
					color: #ADA9BB;
					background-color: #E5E5E5;
 				}	

#input {	
					width: 55%;
					height: 4vh;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 5px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
					margin-left: 20%;
				}

#toReset{	
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 1em;
		color: #000000;
		margin:0 0 0 58%;
		text-decoration:none;
	}

.btn-login{	
			background: #5784BA;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.9vw;
			color: #FFFFFF;
			margin: 10% 0 0 20%;
			width: 55%;
			height: 4vh;
			border:none;
			border-radius: 6px;

			}

.btn-google{
	background: rgba(0, 13, 79, 0.08);
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1.9vw;
	color: #010620;
	margin-left: 20%;
	margin-top: 2%;
	width: 55%;
	height: 4vh;
	border:none;
	border-radius: 6px;
	text-align: top;
}
			
.google{margin:0 0 2% -38%;
		width:6%;
}
#text-btn-w-google{margin-top: -10%;}
#linkToRegist{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 1.8vw;
					color: #ADA9BB;
					margin-left: 40%;
					margin-top: 15%;
	}
.regist-link{color:#5784BA;}
}
