@media (min-width:426px){
body{
	background-color: #E5E5E5;
}
aside{
	float:left;
	width:100%;
	height: 100%;
	margin-left: 0.5%;
}
.asideprofile1{
	background: #FFFFFF;
	border-radius: 20px;
	padding-left: 5%;
}
.asideprofile2{
		background:#5784BA;
		border-radius: 20px;
		margin-top: -10%;
		padding: 20% 0 0 5%;
		height: 100%;
}
#notif{
		width:1.4vw;
		margin-top: 10%;
		margin-left: 85%;
}
#mini-profile{
width: 5vw;
height: 10vh;
margin-left: 8%;
margin-top: 10%;
}
#side-name-profile{font-weight: 500;}
#status{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	color: black;
	color: #202020;
	margin: 1% 0 0 0%;
	padding-bottom: 40%;
}

#profile-icon{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 1.2vw;
		color:white;
		margin-top: 15%;
		text-decoration: none;
}
#profile-icon2{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		color:red;
		font-size: 1.2vw;
		margin-top: 15%;
		text-decoration: none;
}

article{
	width:100%;
	height: 100%;
	float:right;
}
section{
	position: absolute;
	width: 80%;
	height:30vw;
	background: linear-gradient(0deg, #000000 -94.8%, rgba(0, 0, 0, 0) 122%);
	border-radius: 20px 20px 0px 0px;
	margin-left: 18%;
}

#section-bg{
	position: absolute;
	width: 80%;
	height:30vw;
	margin-left: 18%;
	border-radius: 20px 20px 0px 0px;
	
}

#profile{
			width:13vw;
			margin-top: 6%;
			margin-left: 39%;
}
#profile-icon{
			width:12%;
			padding-bottom: 4%;
}
.article-2{
	width:80%;
	margin: 6% 2% 0 0;
}

#edit-icon{
	width:1.7vw;
	margin-top:24%;
	margin-left: -2%;
}


h4{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 2vw;
color: #000000;
margin-top:30%;
padding-left: 3%;
padding-top: 2%;
background-color:white;
padding-bottom: 5%;}
#text{
	margin-top:-4%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2vw;
	color: #000000;
	padding-top: 2%;
	padding-left: 3%;
	background-color:white;
	}

#name-profile{
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 1.8vw;
			color: white;
			margin-top: 5%;
			margin-left:40%;
}
#menu-profile{width:3%;}
#icon{float:right;width:2vw;}
}

@media (max-width: 425px){  
aside{display:none;}
#articleprof{
	width:100%;
	height: 100%;
	}
section{
	width: 100%;
	height:50vw;
	position: absolute;
	background: linear-gradient(0deg, #000000 -94.8%, rgba(0, 0, 0, 0) 122%);
	border-radius: 20px 20px 0px 0px;
	margin-top:14%;
}

#section-bg{
	position: absolute;
	width: 100%;
	height:50vw;
	border-radius: 20px 20px 0px 0px;
	margin-top:14%;
}

#profile{
			width:20vw;
			margin: 15% 0 0 40%;
}
#name-profile{
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 3em;
			color: white;
			margin-top: 0%;
			margin-left:33%;
}
#profile-icon{
			width:12%;
			padding-bottom: 4%;
}
#edit-icon{
	width:1.7vw;
	margin-top:24%;
	margin-left: -2%;
}

.article-2{
	width:100%;
	padding-top: 35%;
}



h4{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 2em;
color: #000000;
margin-top:30%;
padding:2% 0 5% 3%;
background-color:white;}

#text{
	margin-top:-4%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
	color: #000000;
	padding-top: 4%;
	padding-left: 3%;
	background-color:white;
	}


#menu-profile{width:6vw;}
#icon{float:right;width:2vw;}
} 