@media (min-width: 769px){  
body{	background-color: #E5E5E5;
}
h1{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 4vw;
		color: #010620;
		margin-top: 5%;
		margin-left: 38%;
}
#label-input {		width: 30vw;
					height: 4vw;
					margin-left: 30%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 10px;
					margin-bottom:0.5% ;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 0.8vw;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 30%;
					
		}


#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size: 0.8vw;
					color: #ADA9BB;
					margin-left: 45%;
	}

button{			width: 30vw;
				height: 4vw;
				border:none;
				border-radius: 6px;

	   }

.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.4vw;
			color: #FFFFFF;
			margin-left: 30%;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3vw;
	color: #010620;
	margin:2% 0 2% 30%;}
			
.google{
		width:9%;
}}








@media (max-width:768px) and (min-width:426px){
	body{	background-color: #E5E5E5;
}
h1{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 5em;
		color: #010620;
		margin-top: 5%;
		margin-left: 35%;
}
#label-input {		width: 40vw;
					height: 5vw;
					margin-left: 30%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 10px;
					margin-bottom:0.5% ;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 1.5vw;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 30%;
					
		}


#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size:1.5vw;
					color:black;
					margin-left: 45%;
	}
	.linkto{color:#5784BA;}

button{			width: 40vw;
				height: 5vw;
				border:none;
				border-radius: 6px;

	   }

.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 2vw;
			color: #FFFFFF;
			margin-left: 30%;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 2vw;
	color: #010620;
	margin:2% 0 2% 30%;}
			
.google{
		width:9%;
}}












@media (max-width:425px){
	body{	background-color: #E5E5E5;
}
h1{		
		font-family: Kanit;
		font-style: normal;
		font-weight: 500;
		font-size: 6em;
		color: #010620;
		margin-top: 2%;
		margin-left: 25%;
}
#label-input {		width: 60vw;
					height: 7vw;
					margin-left: 20%;
					background: #FFFFFF;
					border: 1px solid #ADA9BB;
					box-sizing: border-box;
					border-radius: 7px;
					margin-bottom:0.5% ;
}
.name{				
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 1.8vw;
					color: #010620;
}

#caption{			font-family: Kanit;
					font-style: normal;
					font-weight: normal;
					font-size: 2em;
					color: #ADA9BB;
					background-color: #E5E5E5;
					margin-left: 20%;
					
		}


#linkToLogin{		font-family: Kanit;
					font-style: normal;
					font-weight: 500;
					font-size:1.2em;
					color:black;
					margin-left: 45%;
	}
	.linkto{color:#5784BA;}

button{			width: 60vw;
				height: 7vw;
				border:none;
				border-radius: 7px;
				
	   }

.btn-regist{	
			background: #5784BA;
			border-radius: 10px;
			font-family: Kanit;
			font-style: normal;
			font-weight: 500;
			font-size: 1.8em;
			color: #FFFFFF;
			margin:2% 0 2% 20%;
			}

.btn-googleregist{
	background: rgba(0, 13, 79, 0.08);
	border-radius: 10px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 500;
	font-size: 1.8em;
	color: #010620;
	margin:2% 0 2% 20%;}
			
.google{
		width:9%;
}}
