@media(min-width:769px){  
.sidebar{	background:#5784BA;
			border-radius: 20px;
			padding:1% 0 30% 0;
			margin: 1% 0 0 1%;	
			float:left;
			width:15%;
			position: fixed;
}
.sidebarminiprofile{padding-bottom: 30%;}

#side-MiniProf{
    height: 15vw;
}
											#notif{				width:2.3vw;
																float:right;
                                                                margin:0% 12% 0 0;		
											}
											
											#sideActMiniProfile{width: 6vw;
																margin-left: 8%;
																margin-top: 25%;
											}
											#sideActMiniName{	font-family: Roboto;
																font-style: normal;
																font-weight: 500;
																font-size: 0.8em;
																color: #ffffff;
																margin-top: 9%;
																margin-left:6%;
											}
											#sideActMiniStatus{ font-family: Roboto;
																font-style: normal;
																font-weight: normal;
																font-size: 1em;
																color: #ffffff;
																margin-left: 2%;
																
											}

#sideDash-none{  height: 5vw;
                padding:5 0 0% 0;
                border-radius: 10px;
                margin:2% 0 3% 0; 
            }
#sideDash-white{  height: 5vw;
                padding:5% 0 0% 0;
                background-color: white;
                border-radius: 10px;
                margin:2% 0 3% 0;
            }

        #Sidebar-Menu{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 0.5em;
                        color:white;
                        text-justify: center;
                    }


        #Sidebar-MenuSelected{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 1em;
                        color:black;
                        background-color: white;
                        		                border-radius: 10px;
                    }
        #Sidebar-MenuLogout{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 1em;
                        color:rgb(201, 28, 28);
                        text-justify: center;
		                border-radius: 10px;

		                }
        #SidebarIcon{   width:1vw;
                        justify-content: center;
                        margin-top:2%;
                    	margin-left:6%;}
        
        }
                                            
@media (max-width:768px){
	.sidebar{display:none;}
} 