@media(min-width:769px){  
.sidebar{	background:#5784BA;
			border-radius: 20px;
			padding:1% 0 30% 0;
			margin: 0% 0 0 1%;	
			float:left;
			width:15%;
			position: fixed;
}
.sidebarminiprofile{margin-bottom: 30%;
}

#side-MiniProf{
    height: 17vw;
}
#side-MiniProf2{
    height: 17vw;background-color: white;
}
											#notif{				width:2.3vw;
																float:right;
                                                                margin:0% 18% 0 0;		
											}
											
											#sideProfile{width: 6vw;
																margin-left: 8%;
																margin-top: 25%;
											}
											
											#sideName{	font-family: 'Roboto';
																font-style: normal;
																font-weight: 500;
																font-size: 1.7vw;
																color: #ffffff;
																margin-top: 9%;
																margin-left:8%;
											}
											#sideNameBlack{	font-family: 'Roboto';
																font-style: normal;
																font-weight: 500;
																font-size: 1.7vw;
																color:black;
																margin-top: 9%;
																margin-left:8%;
																text-decoration: none;
											}
											#sideStatus{ font-family:'Roboto';
																font-style: normal;
																font-weight: normal;
																font-size: 1.4vw;
																color: #ffffff;
																
											}
											#sideStatusBlack{ font-family:'Roboto';
																font-style: normal;
																font-weight: normal;
																font-size: 1.4vw;
																color:black;
																text-decoration: none;
																
											}


#sideDash-none{  height: 5vw;
                border-radius: 10px;
                padding:5% 0 3% 0; 
            }
#sideDash-white{  height: 5vw;
                padding:5% 0 0% 0;
                background-color: white;
                border-radius: 10px;
            }

        #SideMenu{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 1.3vw;
                        color:white;
                        text-justify: center;
                        text-decoration: none

                    }


        #SideSelected{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 1.3vw;
                        color:black;
                        background-color: white;
                       	border-radius: 10px;
                       	 text-decoration: none
                    }
        #SideMenuLogout{  font-family: montserrat;
						font-style: normal;
						font-weight: 650;
						font-size: 1.3vw;
						text-decoration: none;
                        color:rgb(201, 28, 28);
                        text-justify: center;
		                border-radius: 10px;

		                }
        #SideIcon{   width:3vw;
                        justify-self: center;
                    	margin:0 5% 0 6%;
					}
        
        }
                                            
@media (max-width:768px){
	.sidebar{display:none;}
} 