.bodyActivity{
    width: 100%;
    height: 100%;
    padding-bottom: 10%; 
}
.containerClassDetail{
    margin-left: 17%;
}
#img-classdetail{	
    width:95%;
	height: 25vw;
	float:right;
	margin:0% 3% 0 20%;
	border-radius: 20px 20px 0px 0px;
	background: #E6EDF6;
}
#img-classdetail-layer2{		
    width:95%;
	height: 25vw;														 
	float:right;
	margin:-30% 3% 0% 0%;
	background: linear-gradient(0deg, #E6EDF6 -94.8%, 
							rgba(0, 0, 0, 0) 122%);
	border-radius: 20px 20px 0px 0px;
}
.iconComp{				
    width:15%;
	margin: 20% 0 0 4%;
}
.classNameDetail{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5vw;
	color: #000000;
	background:transparent;
	margin: -12% 0 0 25%;
}
.descriptionClass{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2vw;
	color: #000000;
	margin-left: 25%;
	margin-top: -3%;
}
.RegClass{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.8vw;
	color: #FEFEFE;
	background: #57BA61;
	border-radius: 23.4px;
	margin: -5% 0% 0% 75%;
	width:10vw;
	border:none;
}
.containerClassDetail2{
	margin: 30% 0 0 19%;
	width:79%;
	background-color: white;
	
}
.contentDetail{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 1.3vw;
	color: #000000;
}
.tabs{
	width: 100%;
	padding:2%;
	border-radius: 20px;
}
.classDetail-titleContent{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 600;
														font-size: 1.2em;
														color: #000000;
								}
								.classDetail-content{
														font-family: Roboto;
														font-style: normal;
														font-weight: 300;
														font-size: 1em;
														color: #000000;

								}